@charset "UTF-8";
/* FUNCTIONS */
@import "fonts/fonts.css";
/*! VARIABLES */
/*! GLOBAL */
html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ul {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-size: 100%;
}
section {
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  width: 100%;
}
.contentContainer {
  position: absolute;
  width: 1500px;
  left: 50%;
  top: 0px;
  margin-left: -750px;
  height: 100%;
  /*background-color: rgba(0,0,0,.1);*/
}
.vline-div {
  padding: 0 5px;
}
input {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
input,
textarea,
button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
input[type="submit"]::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  padding: 0;
  border: 0;
  margin-top: -4px;
}
textarea {
  resize: none;
}
a:focus {
  outline: none;
}
.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}
.valign {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-flex-pack: center;
}
.valign-l {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-flex-pack: center;
}
.valign-r {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-flex-pack: center;
}
.valign-b {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-flex-pack: center;
}
.abs-fill {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.abs {
  position: absolute;
  left: 0;
  top: 0;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
}
.bgcover {
  background: url('') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.inline-c {
  display: inline-block;
  vertical-align: middle;
}
.inline-t {
  display: inline-block;
  vertical-align: top;
}
.justify {
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}
.noshrink {
  -webkit-flex-shrink: 0;
  -ms-flex: -1;
  flex-shrink: 0;
}
.allowgrow {
  -webkit-flex-grow: 1;
  -ms-flex: 1;
  flex-grow: 1;
}
.spacer {
  width: 100%;
  height: auto;
  display: block;
}
.filler {
  visibility: hidden;
}
.mob {
  display: none;
}
.col {
  position: relative;
}
.row {
  width: 100%;
  position: relative;
}
.spaced {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.spaced-c {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.spaced-t {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  z-index: 60;
}
.blanket {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .95;
  z-index: 1;
}
.overlayWrap {
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 0 50px;
  -webkit-transform: translateZ(0);
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 30;
}
@-webkit-keyframes bubbler {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes bubbler {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
.bubble1 {
  -webkit-animation: bubbler infinite 4s ease-in-out;
  -moz-animation: bubbler infinite 4s ease-in-out;
  animation: bubbler infinite 4s ease-in-out;
}
@-webkit-keyframes bubbler2 {
  0% {
    -webkit-transform: scale(1.25);
  }
  50% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.25);
  }
}
@keyframes bubbler2 {
  0% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}
.bubble2 {
  -webkit-animation: bubbler2 infinite 4s ease-in-out;
  -moz-animation: bubbler2 infinite 4s ease-in-out;
  animation: bubbler2 infinite 4s ease-in-out;
}
@-webkit-keyframes dialturn {
  0% {
    -webkit-transform: rotate(-21deg);
    animation-timing-function: ease-in-out;
  }
  20% {
    -webkit-transform: rotate(0deg);
    animation-timing-function: ease-in-out;
  }
  40% {
    -webkit-transform: rotate(-21deg);
    animation-timing-function: ease-in-out;
  }
  70% {
    -webkit-transform: rotate(20deg);
    animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: rotate(-21deg);
  }
}
@keyframes dialturn {
  0% {
    transform: rotate(-21deg);
    animation-timing-function: ease-in-out;
  }
  20% {
    transform: rotate(0deg);
    animation-timing-function: ease-in-out;
  }
  40% {
    transform: rotate(-21deg);
    animation-timing-function: ease-in-out;
  }
  70% {
    transform: rotate(20deg);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: rotate(-21deg);
  }
}
.dialanim {
  -webkit-animation: dialturn infinite 4s ease-out;
  -moz-animation: dialturn infinite 4s ease-out;
  animation: dialturn infinite 4s ease-out;
}
@-webkit-keyframes shaker {
  0% {
    top: 4px;
    right: 5px;
  }
  20% {
    top: -5px;
    left: -4px;
  }
  40% {
    top: 5px;
    left: -4px;
  }
  60% {
    top: -4px;
    left: 5px;
  }
  80% {
    top: 5px;
    left: -4px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@keyframes shaker {
  0% {
    top: 4px;
    right: 5px;
  }
  20% {
    top: -5px;
    left: -4px;
  }
  40% {
    top: 5px;
    left: -4px;
  }
  60% {
    top: -4px;
    left: 5px;
  }
  80% {
    top: 5px;
    left: -4px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
.shake {
  -webkit-animation: shaker infinite 0.5s ease-in-out;
  -moz-animation: shaker infinite 0.5s ease-in-out;
  animation: shaker infinite 0.5s ease-in-out;
}
@-webkit-keyframes smiler {
  0% {
    -webkit-transform: rotate(-10deg);
    animation-timing-function: ease-in-out;
  }
  50% {
    -webkit-transform: rotate(10deg);
    animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: rotate(-10deg);
    animation-timing-function: ease-in-out;
  }
}
.smile {
  -webkit-animation: smiler infinite 3s ease-out;
  -moz-animation: smiler infinite 3s ease-out;
  animation: smiler infinite 3s ease-out;
}
.full-frame {
  width: 100%;
  height: 100%;
  height: 825px;
  overflow: hidden;
}
.full-frame .contentContainer > div {
  position: absolute;
}
.full-frame img {
  display: block;
}
h2 {
  font: 400 4em/1 "museo900", serif;
  color: #fff;
  text-align: center;
}
h3 {
  font: 400 3.25em/1 "museo900", serif;
  color: #fff;
  text-align: center;
}
.txtline {
  width: 300px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
}
/*! FRAME 1 */
#frame1 {
  background-color: #1b75bc;
}
#frame1 .car {
  left: 150px;
  top: -300px;
  width: 563px;
  height: 948px;
  top: -950px;
}
#frame1 .car .hood {
  position: absolute;
  left: 0;
  bottom: 0px;
  opacity: 0;
}
#frame1 .logo {
  left: 935px;
  top: 155px;
  opacity: 0;
}
#frame1 .txt {
  left: 820px;
  top: 380px;
  opacity: 0;
}
#frame1 .roadlines {
  width: 35px;
  height: 0;
  top: 0px;
  left: 735px;
  overflow: hidden;
}
#frame1 .roadlines > div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../images/frame1-roadline.png);
}
/*! FRAME 2 */
#frame2 {
  background-color: #ee2e32;
}
#frame2 h2 {
  font-size: 55px;
}
#frame2 .contentContainer {
  height: 1000px;
  top: 50%;
  margin-top: -500px;
}
#frame2 .car {
  left: 755px;
  top: 15px;
  left: 1500px;
  display: none;
}
#frame2 .smoke {
  left: -15px;
  top: 185px;
  opacity: 0;
  width: 711px;
  height: 650px;
}
#frame2 .smoke .smokecloud {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #223140;
  display: none;
}
#frame2 .smoke .smokecloud[data-num="1"] {
  width: 165px;
  height: 165px;
  border-radius: 165px;
  left: 550px;
  top: 435px;
  z-index: 4;
}
#frame2 .smoke .smokecloud[data-num="2"] {
  width: 290px;
  height: 290px;
  border-radius: 290px;
  left: 300px;
  top: 310px;
  z-index: 3;
}
#frame2 .smoke .smokecloud[data-num="3"] {
  width: 420px;
  height: 420px;
  border-radius: 420px;
  left: 110px;
  top: 0px;
  z-index: 2;
}
#frame2 .smoke .smokecloud[data-num="4"] {
  width: 165px;
  height: 165px;
  border-radius: 165px;
  left: 5px;
  top: 155px;
  z-index: 1;
}
#frame2 .txt {
  left: 285px;
  top: 490px;
  opacity: 0;
}
#frame2 .txtline {
  top: 75px;
  left: -150px;
  opacity: 0;
}
/*! FRAME 3 */
#frame3 {
  background-color: #79a9db;
  /*.clouds{left: 755px; top: 15px;}*/
}
#frame3 h2 {
  font-size: 60px;
}
#frame3 .dash {
  left: 50%;
  margin-left: -1250px;
  top: auto;
  bottom: 0px;
  bottom: -1000px;
  height: 1000px;
  overflow: hidden;
}
#frame3 .dash .dial {
  left: 900px;
  bottom: -190px;
  transform: rotate(-21deg);
  position: absolute;
}
#frame3 .txt {
  left: 475px;
  top: 110px;
  opacity: 0;
}
#frame3 .txtline {
  top: 85px;
  left: 300px;
  width: 250px;
  opacity: 0;
}
/*! FRAME 4 */
#frame4 {
  background-color: #1b75bc;
}
#frame4 h2 {
  text-align: right;
  font-size: 60px;
}
#frame4 .engine {
  left: -370px;
  top: 105px;
  left: -1500px;
}
#frame4 .engine > div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#frame4 .txt {
  left: 820px;
  top: 360px;
  opacity: 0;
  width: 500px;
}
#frame4 .txtline {
  top: 210px;
  left: 270px;
  opacity: 0;
}
/*! FRAME 5 */
#frame5 {
  background-color: #00aeef;
}
#frame5 h2 {
  text-align: left;
  font-size: 60px;
}
#frame5 .car {
  left: 510px;
  bottom: 0px;
  bottom: -715px;
}
#frame5 .car .smile {
  position: absolute;
  left: 300px;
  top: 280px;
}
#frame5 .txt {
  left: 170px;
  top: 255px;
  opacity: 0;
}
#frame5 .txtline {
  top: -35px;
  left: -30px;
  width: 230px;
  opacity: 0;
}
/*! FRAME 6 */
#frame6 {
  background-color: #ee2e32;
}
#frame6 h2 {
  font-size: 65px;
  line-height: 1.2;
  margin-bottom: 60px;
  opacity: 0;
}
#frame6 .contentContainer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-flex-pack: center;
}
#frame6 .cta-btn {
  font: 400 70px/1 "museo900", serif;
  background-color: #1b75bc;
  color: #fff;
  padding: 45px 65px;
  border-radius: 20px;
  display: inline-block;
  opacity: 0;
}
#frame6 .road {
  left: 50%;
  margin-left: -700px;
  top: auto;
  bottom: -20px;
}
#frame6 .road > img {
  width: 1600px;
  height: auto;
}
#frame6 .road .sign {
  position: absolute;
  opacity: 0;
}
#frame6 .road .sign img {
  width: 100%;
  height: auto;
  display: block;
}
#frame6 .road .sign[data-num="1"] {
  width: 25px;
  left: 1120px;
  top: 40px;
}
#frame6 .road .sign[data-num="2"] {
  width: 25px;
  left: 1250px;
  top: 100px;
}
#frame6 .road .sign[data-num="3"] {
  width: 25px;
  left: 510px;
  top: 60px;
}
#frame6 .road .sign[data-num="4"] {
  width: 60px;
  left: 150px;
  top: 140px;
}
#frame6 .road .sign[data-num="5"] {
  width: 130px;
  left: 1310px;
  top: 245px;
}
#frame6 .road .sign[data-num="6"] {
  width: 250px;
  left: -100px;
  top: 565px;
}
#frame6 .road-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 1600px;
  left: 50%;
  margin-left: -700px;
  background-color: #ee2e32;
  transform-origin: center bottom;
}
#frame6 .txt {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 3;
}
/*! FRAME 7 */
#frame7 {
  background-color: #00aeef;
}
#frame7 h2 {
  font: 400 68px/1.1 "museo900", serif;
  margin-bottom: 55px;
}
#frame7 .sign {
  left: 50%;
  margin-left: -1080px;
  bottom: 0px;
  bottom: -640px;
}
#frame7 .car {
  left: 100px;
  bottom: 0px;
  left: -2000px;
}
#frame7 .txt {
  left: 735px;
  top: 255px;
  opacity: 0;
}
#frame7 a {
  color: #fff;
}
/*! HOVERS (disabled below tablet) */
@media screen and (min-width: 1025px) {
  .hov-shrink {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    display: block;
  }
  .hov-shrink:hover {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
  }
}
/*! mq: 1200 */
@media screen and (max-width: 1200px) {
  body {
    font-size: 80%;
  }
  .contentContainer {
    width: 1000px;
    left: 50%;
    margin-left: -500px;
  }
  .full-frame {
    height: 700px;
  }
  #frame1 .logo {
    left: 630px;
    top: 90px;
  }
  #frame1 .txt {
    left: 555px;
    top: 320px;
  }
  #frame1 .car {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    left: -35px;
  }
  #frame1 .roadlines {
    width: 20px;
    left: 50%;
    margin-left: -10px;
  }
  #frame2 .car {
    margin-left: -400px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
  #frame2 .smoke {
    left: -185px;
  }
  #frame2 .txt {
    margin-left: -150px;
  }
  #frame3 .dash {
    margin-bottom: -105px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
  #frame3 .txt {
    margin-left: -245px;
  }
  #frame4 .engine {
    margin-left: -350px;
    top: 65px;
  }
  #frame4 .txt {
    margin-left: -350px;
    top: 300px;
  }
  #frame4 .txtline {
    top: 160px;
  }
  #frame5 .txt {
    margin-left: -140px;
    top: 205px;
  }
  #frame5 .car {
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    margin-bottom: -95px;
    left: 230px;
  }
  #frame6 .road {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    bottom: -100px;
  }
  #frame6 .road > img {
    height: 900px;
  }
  #frame6 .road .sign[data-num="5"] {
    left: 1200px;
    top: 275px;
  }
  #frame6 .road .sign[data-num="6"] {
    left: -30px;
    top: 630px;
  }
  #frame7 {
    height: 600px;
  }
  #frame7 .sign {
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    margin-bottom: -100px;
    margin-left: -1120px;
  }
  #frame7 .car {
    margin-left: -350px;
  }
  #frame7 .txt {
    margin-left: -280px;
    top: 185px;
  }
  #frame7 h2 {
    font-size: 60px;
    margin-bottom: 25px;
  }
}
/*! mq: 1000 */
@media screen and (max-width: 1000px) {
  body {
    font-size: 60%;
  }
  .contentContainer {
    width: 768px;
    left: 50%;
    margin-left: -384px;
  }
  .full-frame {
    height: 550px;
  }
  #frame1 .logo {
    left: 455px;
    top: 50px;
  }
  #frame1 .txt {
    left: 435px;
    top: 300px;
  }
  #frame1 .car {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    left: -95px;
  }
  #frame2 .car {
    margin-left: -750px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
  }
  #frame2 .txt {
    margin-left: -200px;
  }
  #frame2 .txt h2 {
    font-size: 40px;
  }
  #frame2 .smoke {
    left: -245px;
    top: 250px;
  }
  #frame2 .smoke .inner {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
  #frame2 .txtline {
    width: 200px;
    top: 60px;
    margin-left: 60px;
  }
  #frame3 .dash {
    margin-bottom: -205px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
  }
  #frame3 .txt {
    margin-left: -270px;
    top: 80px;
  }
  #frame3 .txt h2 {
    font-size: 40px;
  }
  #frame3 .txtline {
    left: 50%;
    width: 200px;
    margin-left: -100px;
    top: 50px;
  }
  #frame4 .txt {
    margin-left: -580px;
    top: 260px;
  }
  #frame4 .txt h2 {
    font-size: 40px;
  }
  #frame4 .txtline {
    top: 100px;
    margin-left: 60px;
  }
  #frame4 .engine {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    margin-left: -170px;
    top: 45px;
  }
  #frame5 .txt h2 {
    font-size: 40px;
  }
  #frame5 .txtline {
    width: 180px;
    margin-left: -20px;
  }
  #frame5 .car {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    margin-bottom: -110px;
    left: 120px;
  }
  #frame6 h2 {
    font-size: 42px;
  }
  #frame6 .cta-btn {
    font-size: 48px;
    padding: 30px 45px;
  }
  #frame6 .road {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    bottom: -200px;
    margin-left: -750px;
  }
  #frame6 .road > img {
    height: 950px;
  }
  #frame6 .road .sign[data-num="5"] {
    left: 1200px;
    top: 410px;
  }
  #frame6 .road .sign[data-num="6"] {
    left: 20px;
    top: 680px;
  }
  #frame7 {
    height: 500px;
  }
  #frame7 .txt {
    margin-left: -355px;
    top: 135px;
  }
  #frame7 .sign {
    -webkit-transform: scale(0.65);
    -moz-transform: scale(0.65);
    -ms-transform: scale(0.65);
    -o-transform: scale(0.65);
    margin-bottom: -120px;
    margin-left: -1080px;
  }
  #frame7 h2 {
    font-size: 42px;
  }
  #frame7 .car {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    margin-bottom: -20px;
    margin-left: -450px;
  }
}
/*! mq: 767 */
@media screen and (max-width: 767px) {
  #frame1 {
    height: 600px;
  }
  #frame1 .car {
    left: 50%;
    margin-left: -200px;
    margin-top: -80px;
    width: 400px;
    height: 674px;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
  }
  #frame1 .car img {
    width: 100%;
    height: auto;
  }
  #frame1 .roadlines {
    display: none;
  }
  #frame1 .logo {
    width: 100%;
    left: 0;
    top: 260px;
    text-align: center;
  }
  #frame1 .logo img {
    display: inline-block;
    width: 200px;
  }
  #frame1 .txt {
    top: 420px;
    width: 100%;
    text-align: center;
    left: 0;
  }
  #frame1 .txt h2 {
    font-size: 40px;
  }
  #frame2 .contentContainer {
    height: auto;
    top: 0;
    margin-top: 0px;
  }
  #frame2 .txt {
    top: 60px;
    width: 100%;
    text-align: center;
    margin-left: -285px;
  }
  #frame2 .txt h2 {
    font-size: 32px;
  }
  #frame2 .txtline {
    left: 50%;
    width: 200px;
    margin-left: 320px;
    top: 50px;
  }
  #frame2 .car {
    margin-left: -1010px;
    top: -130px;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -o-transform: scale(0.4);
  }
  #frame2 .smoke {
    left: -160px;
    top: 160px;
  }
  #frame2 .smoke .inner {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
  }
  #frame3 .dash {
    margin-bottom: -255px;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    margin-left: -1235px;
  }
  #frame3 .txt {
    width: 100%;
    text-align: center;
    margin-left: -475px;
    top: 110px;
  }
  #frame3 .txt h2 {
    font-size: 32px;
  }
  #frame3 .txtline {
    left: 50%;
    width: 200px;
    margin-left: 100px;
    top: 50px;
  }
  #frame4 .txt {
    width: 100%;
    text-align: center;
    margin-left: -1075px;
    top: 80px;
  }
  #frame4 .txt h2 {
    font-size: 32px;
  }
  #frame4 .txtline {
    left: 50%;
    width: 200px;
    margin-left: 405px;
    top: 85px;
  }
  #frame4 .engine {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    margin-left: 450px;
    top: 220px;
  }
  #frame5 .txt {
    margin-left: 90px;
    top: 115px;
  }
  #frame5 .txt h2 {
    font-size: 32px;
    width: 260px;
  }
  #frame5 .txt h2 br {
    display: none;
  }
  #frame5 .car {
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -o-transform: scale(0.4);
    margin-bottom: -220px;
    left: -90px;
  }
  #frame6 h2 {
    font-size: 32px;
    margin-bottom: 25px;
  }
  #frame6 .cta-btn {
    font-size: 32px;
    padding: 20px 25px;
    border-radius: 12px;
  }
  #frame6 .road {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    bottom: -280px;
    margin-left: -800px;
  }
  #frame6 .road > img {
    height: 1100px;
  }
  #frame6 .road .sign[data-num="2"] {
    left: 950px;
  }
  #frame6 .road .sign[data-num="4"] {
    left: 610px;
    top: 200px;
  }
  #frame6 .road .sign[data-num="5"] {
    left: 1100px;
    top: 750px;
  }
  #frame6 .road .sign[data-num="6"] {
    left: 360px;
    top: 870px;
  }
  #frame7 {
    height: 600px;
  }
  #frame7 h2 {
    font-size: 34px;
  }
  #frame7 .txt {
    top: 85px;
    margin-left: -497px;
  }
  #frame7 .sign {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    margin-bottom: -160px;
    margin-left: -930px;
  }
  #frame7 .car {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    margin-bottom: -30px;
    margin-left: -420px;
  }
}
